os
pytesseract
pytorch
pyttsx3
numpy 
tensoflow
tarfile
zipfile
time
engineio
matplotlib
opencv
Protobuf 3.0.0
Python-tk
Pillow 1.0
lxml
tf-slim
slim
Jupyter notebook
Matplotlib
Cython
contextlib2
cocoapi